{% extends 'cinema_teach/index/base.html' %}
{% load static %}
{% block title %}Résultats{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static 'cinema_teach/modules.css' %}">{% endblock %}

{% block content %}
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="pt-3">Cinématique du solide</h1>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <div class="btn-group align-items-center w-75 pt-3"> 
            <a href="/modules/solide" class="btn btn-outline-primary">Paramétrage</a>
            
            <a href="/modules/solide/etalonnage" class="btn btn-outline-primary">Etalonnage</a>
            <a href="#" class="btn btn-primary">Résultats</a>
 
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"> Résultats</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 border-primary border-bottom">
                  <h4 class="">Aperçu image</h4>
                  {% include 'cinema_teach/modales/modale_image.html' %}
                  {% if paths %}
                  <div class="row flex-nowrap overflow-auto pb-0 mb-1" id="pictures">
                    {% for path in paths %}
                    <div class="col-md-3 py-2"><img class="d-block img-fluid" src="{{ path }}" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="showImage('{{ path }}')" alt="Image {{ forloop.counter0 }}">{{ forloop.counter0 }}
                    </div>
                    {% endfor %}
                  </div>
                  {% else %}
                  <p>Une erreur a eu lieu pendant l'import des images, merci de <a href="/modules/solide">réessayer</a></p>
                  <div class="row flex-nowrap overflow-auto pb-0 mb-1" id="pictures">
                    <div class="col-md-3"><img class="d-block py-2 img-fluid"
                        src="https://static.pingendo.com/img-placeholder-1.svg"></div>
                    <div class="col-md-3 py-2"><img class="img-fluid d-block"
                        src="https://static.pingendo.com/img-placeholder-1.svg"></div>
                    <div class="col-md-3 py-2"><img class="img-fluid d-block"
                        src="https://static.pingendo.com/img-placeholder-1.svg"></div>
                    <div class="col-md-3 py-2"><img class="img-fluid d-block"
                        src="https://static.pingendo.com/img-placeholder-1.svg"></div>
                    <div class="col-md-3"><img class="img-fluid d-block"
                        src="https://static.pingendo.com/img-placeholder-1.svg"></div>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="row border-bottom border-primary">
                <div class="col-md-12">
                  <h4 class="pt-3">Graphiques</h4>
                  <div class="row">
                    <div class="col-md-12 d-flex justify-content-center"><img class="d-block img-fluid"
                        src="data:image/png;base64,{{ image_data }}"></div>
                  </div>
                </div>
              </div>
              {% include 'cinema_teach/solide/tableau_solide.html' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}