{% extends 'cinema_teach/index/base.html' %}

{% block title %}Modules{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/cinema_teach/modules.css">{% endblock %}

{% block content %}
{% load static %}
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="pt-3">Liste des modules</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="col-md-12 img-thumbnail" style="text-align: center;"><B style="font-size: 25px;">Choisir un module</B><br> Pour obtenir de bons résultats, merci de prendre une vidéo sans ombres avec une caméra stable et lâchez l'objet hors champ</div><br>
      <div class="row">
        <div class="col-md-12">
          <div class="row justify-content-around overflow-auto" style="	max-height: 500px;">
            <div class="mb-3 col-md-3 img-thumbnail"><a href="modules/point"><img class="img-fluid d-block" src="{% static 'img/img_cinématique_point.png' %}"></a><B>Cinématique du point :</B> <br> - Vitesse <br> - Accélération</div>
            <div class="mb-3 col-md-3 img-thumbnail"><a href="modules/solide"><img class="img-fluid d-block" src="{% static 'img/img_cinématique_solide.png' %}"></a><B>Cinématique du solide : </B><br> - Tenseur cinématique <br> - Tenseur dynamique</div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}