{% extends 'cinema_teach/base.html' %}

{% block title %}A propos{% endblock %}
{% block style %}<link rel="stylesheet" href="/static/cinema_teach/modules.css">{% endblock %}

{% block content %}
{% load static %}

<div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="pt-3">A propos</h1>
        </div>
    </div>
    </div>
    <div class="py-5">
        <div class="container">
          <div class="row">
            <p>Réalisé par </p>
        </div>
        </div>
        </div>
        </div>
{% endblock %}