<!-- Modale pour afficher une modale contenant du texte -->
<div class="modal" id="simpleModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Aide</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <p id="paragraphe"></p>
        </div>
      </div>
    </div>
  </div>
  <script>
    function showParagraphe(texte) {
      var paragraphe = document.getElementById('paragraphe');
      paragraphe.textContent = texte;
    }
  </script>
  